.user-data-container {
    margin-top: 58px;
    background-color: #FDF7F2;
    padding-bottom: 40px;
}
.user-data-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 40px;
    color: #111111;
}
.user-data {
    width: 411px;
    background: #FFFFFF;
    box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
    border-radius: 0px 40px 40px 0px;
}
.photo-container {
    display: flex;
    padding-top: 15px;
}
.avatar{
    width: 233px;
    height: 233px;
    margin-left: 95px;
    background-color: antiquewhite;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.11));
}
.edit-photo-btn-container {
    position: relative;
    width: 86px;
    margin-top: auto;
}
input[type=file] {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100px;
    z-index: 2;
}
.data-edit-photo {
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #111111;
    background: transparent;
    border: none;
    cursor: pointer;
}

.camera-logo {
    position: absolute;
    left: -20px;
    width: 20px;

}

.data-container {
    margin-top: 36px;
}

.input-title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: #111111;
}

.field {
    display: block;
    width: 107px;
    margin-left: 22px;
}

.data-input {
    background: transparent;
    border: none;
    padding-left: 12px;
    width: 216px;
    height: 32px;
}

.data-edit-info{
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #FDF7F2;
    border: none;
    border-radius: 25px;
    margin-left: 24px;
}
.data-input-active {
    width: 216px;
    height: 32px;
    background: #FDF7F2;
    border-color: #F59256;
    border: 1px solid rgba(245, 146, 86, 0.5);
        border-radius: 40px;
    padding-left: 12px;
}
.data-input-active:focus {
    border: 1px solid rgba(245, 146, 86, 0.5);
        border-radius: 40px;
    background: #FDF7F2;
        border-color: #F59256;
        outline: none;
}

.edit-btn {
    fill: #F59256;

}

.edit-btn-react * {
    fill: #111111;
    opacity: 0.6;
}

.button-none {
    display: none;
}

.done-button {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #FDF7F2;
    border: none;
    border-radius: 25px;
    margin-left: 24px;
}

.done-icon {
    margin-top: 3px;
    margin-left: 1px;
}

.log-out-btn {
    position: relative;
    width: 75px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: rgba(17, 17, 17, 0.6);
    background: transparent;
    border: none;
    margin-left: 49px;
    margin-bottom: 23px;
}

.logout-button {
    width: 18px;
    position: absolute;
    top: 3px;
    left: -15px;
    opacity: 0.6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    
    .user-data-title {
        font-size: 28px;
    }

    .user-data {
        display: flex;
        justify-content: left;
        flex-direction: row-reverse;
        width: 736px;
    }

    .data-container {
        width: 379px;
        margin-top: 40px;
        margin-left: 32px;
        padding: 0;
    }

    .input-title {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.04em;
        color: #111111;
    }

    .field {
        display: block;
        margin-left: 0;
    }

    .data-input {
        background: transparent;
        border: none;
        padding-left: 12px;
        width: 216px;
        height: 32px;
    }

    .data-edit-info {
        position: relative;
        width: 32px;
        height: 32px;
        background-color: #FDF7F2;
        border: none;
        border-radius: 25px;
        margin-left: 24px;
    }

    .data-input-active {
        width: 216px;
        height: 32px;
        background: #FDF7F2;
        border-color: #F59256;
        border: 1px solid rgba(245, 146, 86, 0.5);
        border-radius: 40px;
        padding-left: 12px;
    }

    .data-input-active:focus {
        border: 1px solid rgba(245, 146, 86, 0.5);
        border-radius: 40px;
        background: #FDF7F2;
        border-color: #F59256;
        outline: none;
    }

    .edit-btn {
        fill: #F59256;

    }

    .edit-btn-react * {
        fill: #111111;
        opacity: 0.6;
    }

    .button-none {
        display: none;
    }

    .done-button {
        display: none;
        position: relative;
        width: 32px;
        height: 32px;
        background-color: #FDF7F2;
        border: none;
        border-radius: 25px;
        margin-left: 24px;
    }

    .done-icon {
        margin-top: 3px;
        margin-left: 1px;
    }

    .log-out-btn {
        position: relative;
        width: 75px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: rgba(17, 17, 17, 0.6);
        background: transparent;
        border: none;
        margin-left: 17px;
        margin-top: 33px;
        margin-bottom: 24px;
    }

    .logout-button {
        width: 18px;
        position: absolute;
        top: 3px;
        left: -15px;
        opacity: 0.6;
    }

    .photo-container {
        display: block;
        padding-top: 15px;
        margin-left: 52px;
    }

    .avatar {
        width: 233px;
        height: 233px;
        margin-left: 0;
        background-color: antiquewhite;
        border-radius: 50%;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.11));
    }

    .edit-photo-btn-container {
        position: relative;
        width: 86px;
        margin-left: 180px;
    }

    input[type=file] {
        position: absolute;
        left: 0;
        opacity: 0;
        width: 86px;
        z-index: 2;
    }

    .data-edit-photo {
        position: relative;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #111111;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .camera-logo {
        position: absolute;
        left: -20px;
        width: 20px;

    }
    
        
    }

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .user-data-title {
        font-size: 20px;
    }
    
    .user-data {
        width: 280px;
    }

    .photo-container {
        display: block;
        padding-top: 20px;
    }

    .avatar {
        margin-left: 23px;
        margin-bottom: 12px;
    }

    .edit-photo-btn-container {
        position: relative;
        width: 86px;
        margin-left: 170px;
    }

    input[type=file] {
        position: absolute;
        left: 0;
        opacity: 0;
        width: 100px;
        z-index: 2;
    }

    .data-container {
        margin-top: 36px;
    }

    .input-title {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
    }

    .field {
        display: block;
        width: 107px;
        margin-left: 16px;
    }

    .data-input {
        background: transparent;
        border: none;
        padding-left: 12px;
        font-size: 12px;
        width: 159px;
        height: 24px;
    }

    .data-edit-info {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: #FDF7F2;
        border: none;
        border-radius: 25px;
        margin-left: 0;
        margin-right: 12px;
    }

    .data-input-active {
        width: 159px;
        height: 24px;
        background: #FDF7F2;
        border-color: #F59256;
        border: 1px solid rgba(245, 146, 86, 0.5);
        border-radius: 40px;
        padding-left: 18px;
    }

    .data-input-active:focus {
        border: 1px solid rgba(245, 146, 86, 0.5);
        border-radius: 40px;
        background: #FDF7F2;
        border-color: #F59256;
        outline: none;
    }

    .edit-btn {
        position: absolute;
        top: 0;
        left: 4px;
        width: 10px;
        fill: #F59256;

    }

    .edit-btn-react * {
        fill: #111111;
        opacity: 0.6;
    }

    .button-none {
        display: none;
    }

    .done-button {
        display: none;
        position: relative;
        width: 32px;
        height: 32px;
        background-color: #FDF7F2;
        border: none;
        border-radius: 25px;
        margin-left: 24px;
    }

    .done-icon {
        margin-top: 3px;
        margin-left: 1px;
    }

    .log-out-btn {
        position: relative;
        width: 75px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: rgba(17, 17, 17, 0.6);
        background: transparent;
        border: none;
        margin-left: 49px;
        margin-bottom: 23px;
    }

    .logout-button {
        width: 18px;
        position: absolute;
        top: 3px;
        left: -15px;
        opacity: 0.6;
    }
}